<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"   routerLink="/directivas">Directivas</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"   routerLink="/clientes">Clientes</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

      </ul>


      <ul class="navbar-nav navbar-right">

        <li *ngIf="!authService.isAuthenticated()"><a [routerLink]="['/login']" class="btn btn-outline-primary">Sing In</a></li>

        <!--DESCARGA EL DROPDOWN DE BOOTSTRAP-->
        <li *ngIf="authService.isAuthenticated()" class="dropdown">
          <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            {{authService.usuario.username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <button (click)="logout()" class="dropdown-item" type="submit">Sing Out</button>
          </div>
        </li>

      </ul>

    </div>
  </div>
</nav>
